.nav-link{padding: 14px 16px; margin: 5px; font-size: 17px; text-align: center;}

.navbar-nav a:hover {background: red; border-radius: 10px; transition: 0.8s ease;} 

.overlay-image{background-size: cover; background-position: center; height: 400px; opacity: 1;}

.carousel-container{padding-bottom: 50px; position: absolute; margin-top: -170px; margin-left: 10%;}

.podcast-carousel-container{position: relative; margin-top: -170px; padding-bottom: 50px; text-align: center;}

.card-img-overlay{margin-top: 28%;}

.bi-play-fill{line-height: 0; font-size: 30px;}

.modal-body iframe{width: 100%; height: 400px;}

label{padding-right: 40px;}